
#############################################################################
# udev rules for decrypting and mounting plugged-in backup drives.
# This file typically symlinked to /etc/udev/rules.d/USB-backup-drives.rules,
# run "sudo udevadm control --reload" if change that.
#############################################################################

# https://linuxconfig.org/tutorial-on-how-to-write-basic-udev-rules-in-linux
# https://wiki.debian.org/udev
# https://unix.stackexchange.com/questions/28548/how-to-run-custom-scripts-upon-usb-device-plug-in/28711#28711
# https://ubuntuforums.org/showthread.php?t=1290438

# To find device for drive that was just plugged in, run: ls -lt /dev/sd*[!0-9]
# Make rule (change dev=): dev=/dev/sdf; udevadm info $dev | fgrep SERIAL_SHORT
# Test rule: udevadm test $(udevadm info $dev | sed -n 's/^P: //p') |& tail -n1
# Trigger a rule: udevadm trigger -v -c add $dev

# udev puts the basename of the physical-device (which matched KERNEL) into %k
ACTION=="add", KERNEL=="sd*[!0-9]", ATTRS{serial}=="575846314536354556544A45",\
  RUN+="/usr/local/sbin/snapcrypt -t open X /dev/%k &"
